body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    width: 1600px;
    height: 1024px;

}

.eslogan{
    text-align: center;
    background-color: #e9bdb7;
    margin-top: 0px;
    height: 50px;
    padding-top: 16px;
    font-weight: bolder;
    color: black;
    font-size: 19px;
}


/* INICIO */

.inicio{
    display: flex;
    flex-direction: row;
    width: 1600px;
    margin-bottom: 20px;
}

.carrito{
    width: 50px;
    height: 52px;
    margin-left: 560px;
    margin-top: 27px;
}

.wooly{
    width: 140px;
    height: 110px;
    margin-left: 400px;
    margin-bottom: 10px;
}

#Buscar{
    margin-top: 50px;
    margin-left: 60px;
    width: 180px;
    height: 30px;
}
#Buscar-boton{
    width: 80px;
    height: 30px;
    margin-top: 50px;
    margin-left: 2px;
}

.contenedor-buscar{
    display: flex;
    flex-direction: row;
}

.descripcion{
    text-align: center;
    align-items: center;
    font-size: larger;
    font-weight: bolder;
    color: rgb(145, 131, 131);
}

/* AMIGURUMIS */

.fila1{

    display: flex;
    flex-direction: row;
    margin-top: 25px;
    margin-bottom: 60px;
}

.fila2{

    display: flex;
    flex-direction: row;
    margin-bottom: 60px;
}

.fila3{

    display: flex;
    flex-direction: row;
    margin-bottom: 23px;
}



section img{

    width: 290px;
    height: 360px;
    align-items: center;
    text-align: center;
    margin-left: 55px;
}

section p{
    text-align: center;  
    font-size: 20px; 
}


section h2{
    text-align: center;
    margin-top: 0px;
}

.img{
    width: 400px;
    height: 500px;
}

#comprar{
    text-align: center;
    background-color: rgb(196, 196, 196);
    width: 100px;
    height: 30px;
    margin-left: 160px;
}

.instagram{
    width: 50px;
    height: 50px;
    align-items: center;
    text-align: center;
    margin-top: 0px;
}

.piedepagina{
    background-color: rgb(233, 233, 233);
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 170px;
}

.copyright{
    font-weight: bolder;
    font-size: larger;
    font-family:Arial, Helvetica, sans-serif;
    margin-bottom: 0px;
}

.siguenos{

    width: 250px;
    height: 37px;
    background-color: #e9bdb7;
    border-radius: 10px;
    margin-left: 674px;
    font-size: 20px;
    padding-top: 1px;
}

.siguenos:hover{
    background-color: #d49890;
}


